#container{
width:1350px;
height:600px;
}

#header{
width:1350px;
height:120px;
position:relative;
background-image:url(head_bg.gif);
}

#header p1{
font-size:60px;
font-weight:bold;	
color: #00FFFF ;
top:30px;
left:30px;
position:absolute;

 
}

#leftnav1{
position:relative;	
float:left;
width:675px;
height:175px;
background-color:#00FFFF;
background-image:url(joker01.png);
}

#leftnav1 p3{
position:absolute;
top:5px;
left:30px;
font-size:40px;


}

#leftnav1 h4{
position:absolute;
top:85px;
left:430px;
font-size:18px;
}
#leftnav1 a2{
position:absolute;
top:95px;
left:20px;
font-size:15px;
}

#leftnav2{
float:left;
width:675px;
height:175px;
background-color:#00FFFF;
position:relative;
background-image:url(joker01.png);}

#leftnav2 p3{
position:absolute;
top:5px;
left:30px;
font-size:40px;
}

#leftnav2 h4{
position:absolute;
top:75px;
left:380px;
font-size:18px;
}

#leftnav3{
float:left;
width:675px;
height:175px;
background-color:#00FFFF;
position:relative;
background-image:url(joker01.png);
}

#leftnav3 p3{
position:absolute;
top:5px;
left:30px;
font-size:40px;
}

#leftnav3 h4{
position:absolute;
top:85px;
left:430px;
font-size:18px;
}

#rightnav1{
float:right;
width:675px;
height:175px;
background-color:#00FFFF;
position:relative;
background-image:url(joker01.png);
}

#rightnav1 p4{
position:absolute;
top:5px;
left:30px;
font-size:40px;
}

#rightnav1 h4{
position:absolute;
top:85px;
left:430px;
font-size:18px;
}

#rightnav2{
position:relative;	
float:right;
width:675px;
height:175px;
background-color:#00FFFF;
background-image:url(joker01.png);

}

#rightnav2 p3{
position:absolute;
top:5px;
left:30px;
font-size:40px;
}

#rightnav2 h4{
position:absolute;
top:80px;
left:370px;
font-size:18px;
}

#rightnav3{
position:relative;
float:left;
width:675px;
height:175px;
background-color:#00FFFF;
background-image:url(joker01.png);
}


#rightnav3 p3{
position:absolute;
top:5px;
left:30px;
font-size:40px;
}

#rightnav3 h4{
position:absolute;
top:85px;
left:430px;
font-size:18px;
}
#img0701{
width:260px;
height:100px;
position:absolute;
top:130px;
left:410px;	
}

#img0702{
width:260px;
height:100px;
position:absolute;
top:130px;
left:1070px;	
}

#img0703{
width:260px;
height:100px;
position:absolute;
top:310px;
left:410px;	
}

#img0704{
width:260px;
height:100px;
position:absolute;
top:310px;
left:1070px;	
}

#img0705{
width:260px;
height:100px;
position:absolute;
top:490px;
left:410px;	
}

#img0706{
width:260px;
height:100px;
position:absolute;
top:490px;
left:1070px;	
}

b2{
position:absolute;
top:220px;
left:700px;	
}

b3{
position:absolute;
top:400px;
left:35px;	
}

b4{
position:absolute;
top:400px;
left:700px;	
}

b5{
position:absolute;
top:573px;
left:700px;	
}

b6{
position:absolute;
top:573px;
left:35px;	
}












